Repository donmahallem/js-libs: changes, and which Codecov flags are due for each by the changed paths.
All: turbo, turbo-rxjs, gulp-ncc

chore(deps): update dependency @vercel/ncc to v0.28.1
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

chore(deps): update dependency typescript to v4.2.4
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @vercel/ncc to v0.28.2
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

feat(rollup-config): use commonjs plugin
  packages/rollup-config/src/index.ts
Due: none

feat(rollup-config): add option to modify commonjs plugin config
  packages/rollup-config/src/index.ts
Due: none

test(rollup-config): add test cases
  packages/rollup-config/src/index.spec.ts
Due: none

feat(rollup-config): add commonjs plugin to config (#516)
  packages/rollup-config/src/index.spec.ts
  packages/rollup-config/src/index.ts
Due: none

feat(rollup-config): adds typing for package parameter
  packages/rollup-config/src/index.ts
Due: none

feat(rollup-config): adds typing for package parameter (#518)
  packages/rollup-config/src/index.ts
Due: none

chore(release): publish
  packages/gulp-ncc/CHANGELOG.md
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
  packages/gulp-sharp/CHANGELOG.md
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
  packages/label-gh/CHANGELOG.md
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/CHANGELOG.md
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
  packages/sync-gist/CHANGELOG.md
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
  packages/turbo-pb/CHANGELOG.md
  packages/turbo-pb/package-lock.json
  packages/turbo-pb/package.json
  packages/turbo-validate-request/CHANGELOG.md
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
  packages/turbo/CHANGELOG.md
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo, gulp-ncc

ci(mergify): use merge instead of rebase for branch update
  .mergify.yml
Due: none

chore(deps): update dependency rollup to v2.45.0
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

chore(deps): update dependency rollup to v2.45.1
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

chore(deps): update dependency ajv to v8.1.0
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

chore(deps): update dependency renovate to v24.112.0
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/rollup-config/package-lock.json
  packages/sync-gist/package-lock.json
Due: gulp-ncc

chore(deps): update actions/cache action to v2.1.5
  .github/workflows/sync_changelog.yml
  .github/workflows/sync_changelog2.yml
  .github/workflows/test.yml
Due: none

chore(deps): update dependency @vercel/ncc to v0.28.3
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

chore(deps): update dependency rollup to v2.45.2
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

chore(deps): update dependency @types/sinon to v10
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.14.39
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @types/node to v14.14.41
  package-lock.json
  package.json
Due: none

chore(deps): update all package-lock.json files to v2
  package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/renovate-config/package-lock.json
  packages/rollup-config/package-lock.json
  packages/sudoku/package-lock.json
  packages/sync-gist/package-lock.json
  packages/tslint-config/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): lerna bootstrap dependencies
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/renovate-config/package-lock.json
  packages/rollup-config/package-lock.json
  packages/sync-gist/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): update package-lock.json v2 (#531)
  package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/renovate-config/package-lock.json
  packages/rollup-config/package-lock.json
  packages/sudoku/package-lock.json
  packages/sync-gist/package-lock.json
  packages/tslint-config/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

feat(rxjs-zone): adds rxjs-zone package
  packages/rxjs-zone/.gitignore
  packages/rxjs-zone/LICENSE
  packages/rxjs-zone/README.md
  packages/rxjs-zone/package-lock.json
  packages/rxjs-zone/package.json
  packages/rxjs-zone/readme_config.json
  packages/rxjs-zone/rollup.config.js
  packages/rxjs-zone/src/index.spec.ts
  packages/rxjs-zone/src/index.ts
  packages/rxjs-zone/src/run-inside-zone.ts
  packages/rxjs-zone/src/run-outside-zone.ts
  packages/rxjs-zone/tsconfig.json
  packages/rxjs-zone/tslint.json
Due: none

feat(rxjs-zone): adds rxjs-zone package (#532)
  packages/rxjs-zone/.gitignore
  packages/rxjs-zone/LICENSE
  packages/rxjs-zone/README.md
  packages/rxjs-zone/package-lock.json
  packages/rxjs-zone/package.json
  packages/rxjs-zone/readme_config.json
  packages/rxjs-zone/rollup.config.js
  packages/rxjs-zone/src/index.spec.ts
  packages/rxjs-zone/src/index.ts
  packages/rxjs-zone/src/run-inside-zone.ts
  packages/rxjs-zone/src/run-outside-zone.ts
  packages/rxjs-zone/tsconfig.json
  packages/rxjs-zone/tslint.json
Due: none

Path conditions:
  turbo: any of: packages/turbo/
  turbo-rxjs: any of: packages/turbo-rxjs/
  gulp-ncc: any of: packages/gulp-ncc/
