Repository donmahallem/js-libs: changes, and which Codecov flags are due for each by the changed paths.
All: turbo, turbo-rxjs, gulp-ncc

chore(deps): update dependency renovate to v24.97.1
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/rollup-config/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): update dependency rollup to v2.44.0
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

fix(deps): update dependency sharp to ~0.28.0
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

chore(deps): update dependency ajv to v8
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

fix(turbo-validate-request): fix breaking change in ajv 8
  packages/turbo-validate-request/src/convert-validation-error.ts
Due: none

chore(release): publish
  packages/gulp-ncc/CHANGELOG.md
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
  packages/gulp-sharp/CHANGELOG.md
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
  packages/label-gh/CHANGELOG.md
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/CHANGELOG.md
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
  packages/sync-gist/CHANGELOG.md
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
  packages/turbo-pb/CHANGELOG.md
  packages/turbo-pb/package-lock.json
  packages/turbo-pb/package.json
  packages/turbo-validate-request/CHANGELOG.md
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
  packages/turbo/CHANGELOG.md
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo, gulp-ncc

chore(deps): update dependency @types/supertest to v2.0.11
  packages/turbo-pb/package-lock.json
  packages/turbo-pb/package.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo

chore(deps): update dependency ajv to v8.0.2
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

feat(renovate-config): group ajv dependencies
  packages/renovate-config/package.json
Due: none

feat(renovate-config): group ajv dependencies from source
  packages/renovate-config/package.json
Due: none

feat(renovate-config): group ajv dependencies (#500)
  packages/renovate-config/package.json
Due: none

chore(release): publish
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
  packages/turbo-pb/CHANGELOG.md
  packages/turbo-pb/package-lock.json
  packages/turbo-pb/package.json
  packages/turbo-validate-request/CHANGELOG.md
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
  packages/turbo/CHANGELOG.md
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo

chore(deps): update dependency ajv to v8.0.3
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

chore(deps): update dependency @types/sharp to v0.27.3
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

chore(deps): update dependency ajv to v8.0.4
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

chore(deps): update dependency ajv to v8.0.5
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
Due: none

chore(deps): update dependency @types/chai to v4.2.16
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.20.35
  package-lock.json
  package.json
Due: none

chore(deps): update dependency renovate to v24.100.0
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/sync-gist/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo

fix(deps): update dependency sharp to ~0.28.1
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

chore(deps): update dependency @vercel/ncc to v0.28.0
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

chore(deps): update dependency @octokit/core to v3.4.0
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
Due: none

fix(sync-gist): remove reference to excluded keys
  packages/sync-gist/src/sync-files.ts
Due: none

style(sync-gist): fix no-return-await issue
  packages/sync-gist/src/sync-files.ts
Due: none

chore(deps): update dependency @types/sharp to v0.28.0
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

chore(deps): update dependency @vercel/ncc to v0.28.1
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

Path conditions:
  turbo: any of: packages/turbo/
  turbo-rxjs: any of: packages/turbo-rxjs/
  gulp-ncc: any of: packages/gulp-ncc/
