Repository donmahallem/js-libs: changes, and which Codecov flags are due for each by the changed paths.
All: turbo, turbo-rxjs, gulp-ncc

codecov.yml:

comment:
  layout: "reach, diff, flags, files"
coverage:
  status:
    project:
      turbo:
        paths:
          - packages/turbo/*
      turbo-rxjs:
        paths:
          - packages/turbo-rxjs/*
      gulp-ncc:
        paths:
          - packages/gulp-ncc/*
flags:
  turbo:
    paths:
      - packages/turbo/
  turbo-rxjs:
    paths:
      - packages/turbo-rxjs/
  gulp-ncc:
    paths:
      - packages/gulp-ncc/

ci(github): use donmahallem/lerna-label@v0.0.2
  .github/workflows/label_package_pr.yml
Due: none

chore: test
  packages/ico/readme_config.json
Due: none

ci(github): use donmahallem/lerna-label@0.0.3
  .github/workflows/label_package_pr.yml
Due: none

chore: use dev branch
  .github/workflows/label_package_pr.yml
Due: none

ci(github): checkout code before extracting labels
  .github/workflows/label_package_pr.yml
Due: none

chore: use dev branch
  packages/ico/readme_config.json
Due: none

chore: use lerna-label version 0.0.5
  .github/workflows/label_package_pr.yml
Due: none

ci(github): use donmahallem/lerna-label action (#683)
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency renovate to v25.56.8
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
Due: none

ci(github): replace pull_request trigger for label action
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update donmahallem/lerna-label action to v0.0.6
  .github/workflows/label_package_pr.yml
Due: none

chore(turbo): remove tslint config file
  packages/turbo/tslint.json
Due: turbo

build(turbo): fix lint scripts
  packages/turbo/.eslintrc.js
  packages/turbo/package.json
Due: turbo

chore(turbo): bump node engine requirement to >=12
  packages/turbo/package.json
Due: turbo

chore(turbo): fix package homepage entry
  packages/turbo/package.json
Due: turbo

style(turbo): fix prettier style issues
  package-lock.json
  package.json
  packages/turbo/src/error-response.ts
  packages/turbo/src/index.spec.ts
  packages/turbo/src/index.ts
  packages/turbo/src/promise-request-handler.spec.ts
  packages/turbo/src/promise-request-handler.ts
  packages/turbo/src/promise-to-response.spec.ts
  packages/turbo/src/promise-to-response.ts
  packages/turbo/src/request-error.spec.ts
  packages/turbo/src/request-error.ts
Due: turbo

chore(eslint-config): slimdown eslint config and integrate prettier
  packages/eslint-config/package.json
  packages/eslint-config/src/index.spec.ts
  packages/eslint-config/src/index.ts
Due: none

chore: fix scripts
  packages/eslint-config/package.json
  packages/eslint-config/src/index.ts
Due: none

feat(eslint-config): reduce redundant eslint typescript rules (#687)
  packages/eslint-config/src/index.spec.ts
  packages/eslint-config/src/index.ts
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/gulp-ncc/CHANGELOG.md
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
  packages/gulp-sharp/CHANGELOG.md
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
  packages/label-gh/CHANGELOG.md
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/CHANGELOG.md
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/renovate-config/CHANGELOG.md
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
  packages/rxjs-zone/CHANGELOG.md
  packages/rxjs-zone/package-lock.json
  packages/rxjs-zone/package.json
  packages/sync-gist/CHANGELOG.md
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
  packages/turbo-pb/CHANGELOG.md
  packages/turbo-pb/package-lock.json
  packages/turbo-pb/package.json
  packages/turbo-validate-request/CHANGELOG.md
  packages/turbo-validate-request/package-lock.json
  packages/turbo-validate-request/package.json
  packages/turbo/CHANGELOG.md
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo, gulp-ncc

chore(deps): update dependency @octokit/types to v6.21.1
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.3
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

chore(deps): update dependency @types/node to v14.17.6
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13.0.4
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v36
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

style(eslint-config): add no-multiple-empty-lines rule
  packages/eslint-config/src/index.ts
Due: none

style(eslint-config): fix prettier issues
  packages/eslint-config/src/index.ts
Due: none

style(eslint-config): add no-multiple-empty-lines rule (#693)
  packages/eslint-config/src/index.ts
Due: none

chore(release): publish
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none

chore(deps): update dependency renovate to v25.56.11
  packages/eslint-config/package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/renovate-config/package-lock.json
  packages/renovate-config/package.json
  packages/rollup-config/package-lock.json
  packages/rxjs-zone/package-lock.json
  packages/sync-gist/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): update dependency rollup to v2.54.0
  package-lock.json
  package.json
  packages/rollup-config/package-lock.json
  packages/rollup-config/package.json
Due: none
