Repository donmahallem/js-libs: changes, and which Codecov flags are due for each by the changed paths.
All: turbo, turbo-rxjs, gulp-ncc

fix(deps): update typescript-eslint monorepo to v4.31.0
  package-lock.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore(deps): update dependency axios to v0.21.4
  packages/turbo/package-lock.json
  packages/turbo/package.json
Due: turbo

chore(deps): update dependency @types/node to v14.17.15
  package-lock.json
  package.json
Due: none

fix(deps): update dependency sharp to ~0.29.1
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

fix(deps): update dependency eslint-plugin-jsdoc to v36.1.0
  package-lock.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore(deps): update dependency @types/sharp to v0.29.0
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

fix(deps): update dependency remark-html to ~14.0.1
  packages/readme/package-lock.json
  packages/readme/package.json
Due: none

chore(deps): update dependency @angular/core to v12.2.5
  packages/rxjs-zone/package-lock.json
  packages/rxjs-zone/package.json
Due: none

chore(deps): update dependency @types/sharp to v0.29.1
  packages/gulp-sharp/package-lock.json
  packages/gulp-sharp/package.json
Due: none

fix(deps): update dependency prettier to v2.4.0
  package-lock.json
  packages/eslint-config/package-lock.json
  packages/eslint-config/package.json
Due: none

chore(deps): update dependency conventional-changelog-angular to v5.0.13
  package-lock.json
  package.json
Due: none

chore(deps): update dependency c8 to v7.9.0
  package-lock.json
  package.json
Due: none

chore(deps): update dependency @vercel/ncc to v0.31.0
  packages/gulp-ncc/package-lock.json
  packages/gulp-ncc/package.json
Due: gulp-ncc

chore(deps): update dependency typedoc to v0.22.1
  package-lock.json
  package.json
  packages/eslint-config/package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/readme/package-lock.json
  packages/remark-lerna-packages/package-lock.json
  packages/remark-variables/package-lock.json
  packages/renovate-config/package-lock.json
  packages/rollup-config/package-lock.json
  packages/rxjs-zone/package-lock.json
  packages/sync-gist/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): update dependency typescript to v4.4.3
  package-lock.json
  package.json
Due: none

chore(deps): update dependency typedoc to v0.22.2
  package-lock.json
  package.json
Due: none

chore(deps): lock file maintenance
  package-lock.json
  packages/eslint-config/package-lock.json
  packages/gulp-ncc/package-lock.json
  packages/gulp-sharp/package-lock.json
  packages/label-gh/package-lock.json
  packages/label-pr/package-lock.json
  packages/readme/package-lock.json
  packages/remark-lerna-packages/package-lock.json
  packages/remark-variables/package-lock.json
  packages/renovate-config/package-lock.json
  packages/rollup-config/package-lock.json
  packages/rxjs-zone/package-lock.json
  packages/sync-gist/package-lock.json
  packages/turbo-pb/package-lock.json
  packages/turbo-validate-request/package-lock.json
  packages/turbo/package-lock.json
Due: turbo, gulp-ncc

chore(deps): update dependency typedoc to v0.22.3
  package-lock.json
  package.json
Due: none

chore(deps): update donmahallem/lerna-label action to v0.1.5
  .github/workflows/label_package_pr.yml
Due: none

chore(deps): update dependency @octokit/types to v6.27.1
  packages/label-gh/package-lock.json
  packages/label-gh/package.json
  packages/label-pr/package-lock.json
  packages/label-pr/package.json
  packages/sync-gist/package-lock.json
  packages/sync-gist/package.json
Due: none

Path conditions:
  turbo: any of: packages/turbo/
  turbo-rxjs: any of: packages/turbo-rxjs/
  gulp-ncc: any of: packages/gulp-ncc/
